In [1]:
import requests
import pandas as pd

# Make a GET request to the API endpoint
url = "http://127.0.0.1:8000/api/car_data_bulk/"
response = requests.get(url)


# Check if the request was successful (HTTP status code 200)
if response.status_code == 200:
    # Load the JSON data into a pandas DataFrame
    df = pd.DataFrame(response.json())
    print("Data loaded successfully into DataFrame.")
else:
    print("Failed to retrieve data from the API.", response.content)

Data loaded successfully into DataFrame.

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8483 entries, 0 to 8482
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  8482 non-null   object
 1   price                 8482 non-null   object
 2   year                  8483 non-null   object
 3   origin                8483 non-null   object
 4   registration_date     8483 non-null   object
 5   technical_inspection  8483 non-null   object
 6   first_hand            8483 non-null   object
 7   mileage               8483 non-null   object
 8   fuel_type             8483 non-null   object
 9   transmission          8483 non-null   object
 10  num_doors             8417 non-null   object
 11  num_seats             7711 non-null   object
 12  power                 8379 non-null   object
 13  co2_emission          7877 non-null   object
 14  trunk_volume          2446 non-null   object
 15  length                7657 non-null   object
 16  critair_rating        8306 non-null   object
 17  combined_consumption  5962 non-null   object
dtypes: object(18)
memory usage: 1.2+ MB

In [3]:
df_test= df 
df_test

,name,price,year,origin,registration_date,technical_inspection,first_hand,mileage,fuel_type,transmission,num_doors,num_seats,power,co2_emission,trunk_volume,length,critair_rating,combined_consumption
0,PEUGEOT 3008 II,24 400 €,2020,France,08/10/2020,Non requis,Non,103 244 km,Diesel,Manuelle,5,5,131,B,None,"4,45 m",2,4
1,JAGUAR F-TYPE,71 380 €,2018,France,02/09/2018,Requis,Non,41 650 km,Essence,Automatique,2,2,381,F,None,"4,47 m",1,"6,9"
2,PEUGEOT 2008 II,33 790 €,2023,France,06/03/2023,Non requis,Oui,9 775 km,Diesel,Automatique,5,5,131,C,None,"4,30 m",2,5
3,CITROEN C3 AIRCROSS phase 2,19 950 €,2022,France,04/11/2022,Non requis,Non,46 929 km,Essence,Manuelle,5,5,110,C,410,"4,16 m",1,"5,8"
4,CITROEN C3 AIRCROSS,19 390 €,2022,France,24/08/2022,Non requis,Oui,76 860 km,Essence,Manuelle,5,5,110,C,410,"4,15 m",1,"5,9"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8478,SKODA KAROQ,17 900 €,2019,France,13/07/2019,Requis,Oui,166 532 km,Diesel,Automatique,5,5,116,B,None,"4,38 m",2,"4,3"
8479,JEEP COMPASS II phase 2,52 770 €,2024,France,27/08/2024,Non requis,Non,22 km,Hybride essence électrique,Automatique,5,5,240,A,350,"4,40 m",1,None
8480,FIAT 500 C II phase 2,21 760 €,2023,France,11/02/2023,Non requis,Non,18 310 km,Essence,Manuelle,2,4,70,None,185,"3,57 m",1,None
8481,PEUGEOT 208 II,19 230 €,2022,Importé,21/02/2022,Non requis,Oui,68 666 km,Essence,Manuelle,5,5,100,B,None,"4,05 m",1,"5,1"
8482,FIAT DOBLO CARGO III phase 2,15 970 €,2020,France,27/03/2020,Non requis,Oui,26 272 km,Diesel,Manuelle,4,3,80,C,None,"4,41 m",2,5

In [4]:
df

,name,price,year,origin,registration_date,technical_inspection,first_hand,mileage,fuel_type,transmission,num_doors,num_seats,power,co2_emission,trunk_volume,length,critair_rating,combined_consumption
0,PEUGEOT 3008 II,24 400 €,2020,France,08/10/2020,Non requis,Non,103 244 km,Diesel,Manuelle,5,5,131,B,None,"4,45 m",2,4
1,JAGUAR F-TYPE,71 380 €,2018,France,02/09/2018,Requis,Non,41 650 km,Essence,Automatique,2,2,381,F,None,"4,47 m",1,"6,9"
2,PEUGEOT 2008 II,33 790 €,2023,France,06/03/2023,Non requis,Oui,9 775 km,Diesel,Automatique,5,5,131,C,None,"4,30 m",2,5
3,CITROEN C3 AIRCROSS phase 2,19 950 €,2022,France,04/11/2022,Non requis,Non,46 929 km,Essence,Manuelle,5,5,110,C,410,"4,16 m",1,"5,8"
4,CITROEN C3 AIRCROSS,19 390 €,2022,France,24/08/2022,Non requis,Oui,76 860 km,Essence,Manuelle,5,5,110,C,410,"4,15 m",1,"5,9"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8478,SKODA KAROQ,17 900 €,2019,France,13/07/2019,Requis,Oui,166 532 km,Diesel,Automatique,5,5,116,B,None,"4,38 m",2,"4,3"
8479,JEEP COMPASS II phase 2,52 770 €,2024,France,27/08/2024,Non requis,Non,22 km,Hybride essence électrique,Automatique,5,5,240,A,350,"4,40 m",1,None
8480,FIAT 500 C II phase 2,21 760 €,2023,France,11/02/2023,Non requis,Non,18 310 km,Essence,Manuelle,2,4,70,None,185,"3,57 m",1,None
8481,PEUGEOT 208 II,19 230 €,2022,Importé,21/02/2022,Non requis,Oui,68 666 km,Essence,Manuelle,5,5,100,B,None,"4,05 m",1,"5,1"
8482,FIAT DOBLO CARGO III phase 2,15 970 €,2020,France,27/03/2020,Non requis,Oui,26 272 km,Diesel,Manuelle,4,3,80,C,None,"4,41 m",2,5

In [5]:
# 1. Convert Data Types


df["price"] = (

    df["price"].replace("[^\d.]", "", regex=True).replace("", pd.NA).astype(float)

)

df["year"] = df["year"].astype(int)
df["registration_date"] = pd.to_datetime(df["registration_date"], format="%d/%m/%Y")
df["mileage"] = df["mileage"].str.replace(" km", "").str.replace(" ","").astype(float)
df["length"] = (
    df["length"]
    .str.replace(" m", "")
    .str.replace(",", ".")
    .str.replace(" ", "")
    .astype(float)
)
df["combined_consumption"] = (
    df["combined_consumption"].str.replace(" ", "").str.replace(",", ".").astype(float)
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8483 entries, 0 to 8482
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  8482 non-null   object
 1   price                 8482 non-null   float64
 2   year                  8483 non-null   int64
 3   origin                8483 non-null   object
 4   registration_date     8483 non-null   datetime64[ns]
 5   technical_inspection  8483 non-null   object
 6   first_hand            8483 non-null   object
 7   mileage               8483 non-null   float64
 8   fuel_type             8483 non-null   object
 9   transmission          8483 non-null   object
 10  num_doors             8417 non-null   object
 11  num_seats             7711 non-null   object
 12  power                 8379 non-null   object
 13  co2_emission          7877 non-null   object
 14  trunk_volume          2446 non-null   object
 15  length                7657 non-null   float64
 16  critair_rating        8306 non-null   object
 17  combined_consumption  5962 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(12)
memory usage: 1.2+ MB

In [6]:
#5. Drop Unnecessary Columns
df.drop(["trunk_volume"], axis=1, inplace=True)

In [7]:
df.head()

,name,price,year,origin,registration_date,technical_inspection,first_hand,mileage,fuel_type,transmission,num_doors,num_seats,power,co2_emission,length,critair_rating,combined_consumption
0,PEUGEOT 3008 II,24400.0,2020,France,2020-10-08,Non requis,Non,103244.0,Diesel,Manuelle,5,5,131,B,4.45,2,4.0
1,JAGUAR F-TYPE,71380.0,2018,France,2018-09-02,Requis,Non,41650.0,Essence,Automatique,2,2,381,F,4.47,1,6.9
2,PEUGEOT 2008 II,33790.0,2023,France,2023-03-06,Non requis,Oui,9775.0,Diesel,Automatique,5,5,131,C,4.30,2,5.0
3,CITROEN C3 AIRCROSS phase 2,19950.0,2022,France,2022-11-04,Non requis,Non,46929.0,Essence,Manuelle,5,5,110,C,4.16,1,5.8
4,CITROEN C3 AIRCROSS,19390.0,2022,France,2022-08-24,Non requis,Oui,76860.0,Essence,Manuelle,5,5,110,C,4.15,1,5.9

In [8]:
# 2. Handle Missing Values
df.fillna(
    {
        "price": df["price"].mode()[0],
        "num_doors": df["num_doors"].mode()[0],
        "num_seats": df["num_seats"].mode()[0],
        "power": df["power"].mode()[0],
        "co2_emission": df["co2_emission"].mode()[0],
        "length": df["length"].mode()[0],
        "critair_rating": "Unknown",
        "combined_consumption": df["combined_consumption"].mode()[0],
    },
    inplace=True,
)

df["num_doors"] = df["num_doors"].astype(int)
df["num_seats"] = df["num_seats"].astype(int)
df["power"] = df["power"].astype(int)
df["combined_consumption"] = df["combined_consumption"].astype(float)
df["price"].astype(int)
df.describe()

,price,year,registration_date,mileage,num_doors,num_seats,power,length,combined_consumption
count,8483.000000,8483.000000,8483,8483.000000,8483.000000,8483.00000,8483.000000,8483.000000,8483.000000
mean,40626.126370,2020.212543,2020-10-15 20:24:04.583284224,55741.700460,4.610044,4.84522,180.082282,4.476422,5.547919
min,2380.000000,1966.000000,1965-10-17 00:00:00,1.000000,2.000000,2.00000,6.000000,0.430000,0.700000
25%,21155.000000,2019.000000,2019-11-17 00:00:00,20202.000000,5.000000,5.00000,116.000000,4.240000,5.000000
50%,30220.000000,2021.000000,2021-08-19 00:00:00,48019.000000,5.000000,5.00000,140.000000,4.450000,5.300000
75%,43980.000000,2022.000000,2023-01-20 00:00:00,81807.000000,5.000000,5.00000,197.000000,4.610000,5.800000
max,922090.000000,2024.000000,2025-01-31 00:00:00,380509.000000,5.000000,65.00000,993.000000,166.000000,170.000000
std,41982.727718,4.643197,NaN,45646.984793,0.871083,1.21162,110.694505,2.843720,2.412450

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns

# Compute the correlation matrix
# correlation_matrix = df.drop("name", axis=1).corr()

# Plot a heatmap to visualize correlations
# plt.figure(figsize=(15, 10))
# sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", fmt=".1f")
# plt.title("Correlation Matrix")
# plt.show()

In [10]:
import seaborn as sns
import numpy as np
# f,ax = plt.subplots(figsize=(10, 10))
# mask = np.zeros_like(df.corr().corr())
# mask[np.triu_indices_from(mask)] = True
# sns.heatmap(df.corr(), annot=True, linewidths=0.4,linecolor="white", fmt= '.1f',ax=ax,cmap="Blues",mask=mask)
# plt.show()

In [11]:
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

X = df[['year', 'mileage', 'power','combined_consumption']]
y = df['price']

scaler = StandardScaler()
X = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

svm_regressor = SVR(kernel='rbf')  # 'rbf' est le noyau radial basis function, commun pour la régression
svm_regressor.fit(X_train, y_train)

y_pred = svm_regressor.predict(X_test)

#Évaluation du modèle
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f'SVM Erreur quadratique moyenne (RMSE) : {rmse}')

SVM Erreur quadratique moyenne (RMSE) : 38533.42416195602

In [12]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


X = df[['year', 'mileage', 'power','combined_consumption']]  
y = df['price'].astype(float)  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model_LR = LinearRegression()

model_LR.fit(X_train, y_train)

y_pred = model_LR.predict(X_test)

# Calculer la performance du modèle l'erreur quadratique moyenne
mse = mean_squared_error(y_test, y_pred)
rmse = mse**0.5

#print(f"Erreur quadratique moyenne : {mse}")
print(f"Linear Regression Erreur quadratique moyenne racine : {rmse}")

Linear Regression Erreur quadratique moyenne racine : 24625.92941645385

In [13]:
#!pip install xgboost

In [14]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X = df[['year', 'mileage', 'power','combined_consumption']]  
y = df['price'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Modèle XGBoost
model = xgb.XGBRegressor(objective ='reg:squarederror', random_state=42)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

# les métriques d'évaluation
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

# Résultats
#print(f"Erreur quadratique moyenne : {mse}")
print(f"Xgboost Erreur quadratique moyenne racine : {rmse}")

Xgboost Erreur quadratique moyenne racine : 18014.62096278893

In [15]:
from sklearn.ensemble import RandomForestRegressor

# Créez le modèle
rf_model = RandomForestRegressor()

rf_model.fit(X_train, y_train)

y_pred_rf = rf_model.predict(X_test)

# Calcul l'erreur quadratique moyenne
mse_rf = mean_squared_error(y_test, y_pred_rf)
rmse_rf = np.sqrt(mse_rf)

print(f"Random Forest : Erreur quadratique moyenne racine : {rmse_rf}")

Random Forest : Erreur quadratique moyenne racine : 13585.264998175275

In [16]:
from sklearn.neighbors import KNeighborsRegressor

# Créez le modèle avec, par exemple, k=5 voisins
knn_model = KNeighborsRegressor(n_neighbors=5)

knn_model.fit(X_train, y_train)

y_pred_knn = knn_model.predict(X_test)

# Calcul l'erreur quadratique moyenne
mse_knn = mean_squared_error(y_test, y_pred_knn)
rmse_knn = np.sqrt(mse_knn)

print(f"K-Nearest Neighbors : Erreur quadratique moyenne racine : {rmse_knn}")

K-Nearest Neighbors : Erreur quadratique moyenne racine : 24768.111724116447

In [17]:
# Save the trained model to a file with the correct filename
import joblib

root_dir = "PricePilotBackend/predictor/models/"
model_dir = "Random_Forest_model.joblib"
path = f"{root_dir}{model_dir}"

joblib.dump(model_LR, path)

print(f"Model saved successfully as {model_dir} in {root_dir}")

Model saved successfully as Random_Forest_model.joblib in PricePilotBackend/predictor/models/

#### More ML models with hyper parameters

#### SVM

In [29]:
from sklearn.pipeline import make_pipeline

# Create and train the model
svm_model = make_pipeline(StandardScaler(), SVR(kernel='rbf', C=100, gamma=0.1, epsilon=0.1))
svm_model.fit(X_train, y_train)

# Predict
y_pred_svm = svm_model.predict(X_test)

# Evaluation
mse_svm = mean_squared_error(y_test, y_pred_svm)
rmse_svm = np.sqrt(mse_svm)
mae_svm = np.mean(np.abs(y_test - y_pred_svm))
r2_svm = r2_score(y_test, y_pred_svm)

print("Support Vector Machine (SVM) Metrics:")
print("Mean Squared Error (MSE):", mse_svm)
print("Root Mean Squared Error (RMSE):", rmse_svm)
print("Mean Absolute Error (MAE):", mae_svm)
print("R-squared (R²):", r2_svm)

Support Vector Machine (SVM) Metrics:
Mean Squared Error (MSE): 938157461.6987077
Root Mean Squared Error (RMSE): 30629.35620770877
Mean Absolute Error (MAE): 11086.761493919787
R-squared (R²): 0.3342439288632727

#### Random Forest

In [30]:
from sklearn.ensemble import RandomForestRegressor

# Create and train the model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Predict
y_pred_rf = rf_model.predict(X_test)

# Evaluation
mse_rf = mean_squared_error(y_test, y_pred_rf)
rmse_rf = np.sqrt(mse_rf)
mae_rf = np.mean(np.abs(y_test - y_pred_rf))
r2_rf = r2_score(y_test, y_pred_rf)

print("Random Forest Metrics:")
print("Mean Squared Error (MSE):", mse_rf)
print("Root Mean Squared Error (RMSE):", rmse_rf)
print("Mean Absolute Error (MAE):", mae_rf)
print("R-squared (R²):", r2_rf)

Random Forest Metrics:
Mean Squared Error (MSE): 197645012.12148982
Root Mean Squared Error (RMSE): 14058.627675612219
Mean Absolute Error (MAE): 5824.072372536879
R-squared (R²): 0.8597427701406138

#### K-Nearest Neighbors (KNN)

In [31]:
from sklearn.neighbors import KNeighborsRegressor

# Create and train the model
knn_model = KNeighborsRegressor(n_neighbors=5)
knn_model.fit(X_train, y_train)

# Predict
y_pred_knn = knn_model.predict(X_test)

# Evaluation
mse_knn = mean_squared_error(y_test, y_pred_knn)
rmse_knn = np.sqrt(mse_knn)
mae_knn = np.mean(np.abs(y_test - y_pred_knn))
r2_knn = r2_score(y_test, y_pred_knn)

print("K-Nearest Neighbors (KNN) Metrics:")
print("Mean Squared Error (MSE):", mse_knn)
print("Root Mean Squared Error (RMSE):", rmse_knn)
print("Mean Absolute Error (MAE):", mae_knn)
print("R-squared (R²):", r2_knn)

K-Nearest Neighbors (KNN) Metrics:
Mean Squared Error (MSE): 613459358.3783146
Root Mean Squared Error (RMSE): 24768.111724116447
Mean Absolute Error (MAE): 12022.769593400119
R-squared (R²): 0.5646633865742594

XGBoost

In [32]:
import xgboost as xgb

# Create and train the model
xgb_model = xgb.XGBRegressor(
    objective="reg:squarederror",
    colsample_bytree=0.3,
    learning_rate=0.1,
    max_depth=5,
    alpha=10,
    n_estimators=100,
)
xgb_model.fit(X_train, y_train)

# Predict
y_pred_xgb = xgb_model.predict(X_test)

# Evaluation
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
rmse_xgb = np.sqrt(mse_xgb)
mae_xgb = np.mean(np.abs(y_test - y_pred_xgb))
r2_xgb = r2_score(y_test, y_pred_xgb)

print("XGBoost Metrics:")
print("Mean Squared Error (MSE):", mse_xgb)
print("Root Mean Squared Error (RMSE):", rmse_xgb)
print("Mean Absolute Error (MAE):", mae_xgb)
print("R-squared (R²):", r2_xgb)

XGBoost Metrics:
Mean Squared Error (MSE): 372793410.34656817
Root Mean Squared Error (RMSE): 19307.858771665182
Mean Absolute Error (MAE): 9457.846192539195
R-squared (R²): 0.73545008556602

#### Linear Regression

In [18]:
from sklearn.linear_model import LinearRegression

# Create and train the model
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

# Predict
y_pred_lr = lr_model.predict(X_test)

# Evaluation
mse_lr = mean_squared_error(y_test, y_pred_lr)
rmse_lr = np.sqrt(mse_lr)
mae_lr = np.mean(np.abs(y_test - y_pred_lr))
r2_lr = r2_score(y_test, y_pred_lr)

print("Linear Regression Metrics:")
print("Mean Squared Error (MSE):", mse_lr)
print("Root Mean Squared Error (RMSE):", rmse_lr)
print("Mean Absolute Error (MAE):", mae_lr)
print("R-squared (R²):", r2_lr)

Linear Regression Metrics:
Mean Squared Error (MSE): 606436399.6241671
Root Mean Squared Error (RMSE): 24625.92941645385
Mean Absolute Error (MAE): 12020.464084142985
R-squared (R²): 0.5696471740713503

#### Decision Tree

In [19]:
from sklearn.tree import DecisionTreeRegressor

# Create and train the model
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train, y_train)

# Predict
y_pred_dt = dt_model.predict(X_test)

# Evaluation
mse_dt = mean_squared_error(y_test, y_pred_dt)
rmse_dt = np.sqrt(mse_dt)
mae_dt = np.mean(np.abs(y_test - y_pred_dt))
r2_dt = r2_score(y_test, y_pred_dt)

print("Decision Tree Regressor Metrics:")
print("Mean Squared Error (MSE):", mse_dt)
print("Root Mean Squared Error (RMSE):", rmse_dt)
print("Mean Absolute Error (MAE):", mae_dt)
print("R-squared (R²):", r2_dt)

Decision Tree Regressor Metrics:
Mean Squared Error (MSE): 275914049.06087035
Root Mean Squared Error (RMSE): 16610.660705127608
Mean Absolute Error (MAE): 6124.619192599453
R-squared (R²): 0.8041997630743309

#### Gradient Boosting Regressor

In [20]:
from sklearn.ensemble import GradientBoostingRegressor

# Create and train the model
gb_model = GradientBoostingRegressor()
gb_model.fit(X_train, y_train)

# Predict
y_pred_gb = gb_model.predict(X_test)

# Evaluation
mse_gb = mean_squared_error(y_test, y_pred_gb)
rmse_gb = np.sqrt(mse_gb)
mae_gb = np.mean(np.abs(y_test - y_pred_gb))
r2_gb = r2_score(y_test, y_pred_gb)

print("Gradient Boosting Regressor Metrics:")
print("Mean Squared Error (MSE):", mse_gb)
print("Root Mean Squared Error (RMSE):", rmse_gb)
print("Mean Absolute Error (MAE):", mae_gb)
print("R-squared (R²):", r2_gb)

Gradient Boosting Regressor Metrics:
Mean Squared Error (MSE): 302141384.72846854
Root Mean Squared Error (RMSE): 17382.214609435374
Mean Absolute Error (MAE): 8003.249285286039
R-squared (R²): 0.7855877403987047

#### Neural Network using Keras

In [27]:
import tensorflow as tf

# Define the model
nn_model = tf.keras.models.Sequential(
    [
        tf.keras.layers.Dense(128, activation="relu", input_shape=(X_train.shape[1],)),
        tf.keras.layers.Dense(64, activation="relu"),
        tf.keras.layers.Dense(1),  # Output layer with 1 neuron for regression
    ]
)

# Compile the model
nn_model.compile(optimizer="adam", loss="mean_squared_error")

# Train the model
nn_model.fit(
    X_train, y_train, epochs=50, batch_size=32, validation_split=0.2, verbose=0
)

# Evaluate the model
loss = nn_model.evaluate(X_test, y_test)
print("Mean Squared Error (MSE):", loss)
print("Root Mean Squared Error (RMSE):", np.sqrt(loss))

# Make predictions
y_pred_nn = nn_model.predict(X_test)

54/54 [==============================] - 0s 315us/step - loss: 474615296.0000
Mean Squared Error (MSE): 474615296.0
Root Mean Squared Error (RMSE): 21785.66721493744
54/54 [==============================] - 0s 313us/step

#### Neural Network using PyTorch

In [28]:
import torch
import torch.nn as nn
import torch.optim as optim

# Convert data to PyTorch tensors
X_train_tensor = torch.FloatTensor(X_train.values)
y_train_tensor = torch.FloatTensor(y_train.values)
X_test_tensor = torch.FloatTensor(X_test.values)
y_test_tensor = torch.FloatTensor(y_test.values)


# Define the model
class NeuralNet(nn.Module):
    def __init__(self):
        super(NeuralNet, self).__init__()
        self.fc1 = nn.Linear(X_train.shape[1], 128)
        self.fc2 = nn.Linear(128, 64)
        self.fc3 = nn.Linear(64, 1)

    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = self.fc3(x)
        return x


# Instantiate the model, loss function, and optimizer
torch_model = NeuralNet()
criterion = nn.MSELoss()
optimizer = optim.Adam(torch_model.parameters(), lr=0.01)

# Train the model
for epoch in range(50):
    outputs = torch_model(X_train_tensor)
    optimizer.zero_grad()
    loss = criterion(outputs, y_train_tensor.view(-1, 1))
    loss.backward()
    optimizer.step()

# Evaluate the model
torch_model.eval()
with torch.no_grad():
    y_pred_torch = torch_model(X_test_tensor)
    mse_torch = criterion(y_pred_torch, y_test_tensor.view(-1, 1))
    print("Mean Squared Error (MSE):", mse_torch.item())
    print("Root Mean Squared Error (RMSE):", torch.sqrt(mse_torch).item())

Mean Squared Error (MSE): 1258445312.0
Root Mean Squared Error (RMSE): 35474.57421875